{% load old_tags %}

<div id="header">
	<img src="http://www.67antiquemall.com/67%20Antique%20Mall%20collage%20photo%20by%20SSCP.jpg" height="200px">

	<div>67 Antique Mall
	The shop that rocks
	over 12,000 square feet
	not like any other mall... worth the drive</div>

	<div>looks for the big red building</div>

</div>

<!-- submenu -->
{% get_sections %}

<div class="navbar" role="navigation">
	<ul id="nav">
		<li>
			<a class="menu_link" href="http://localhost:8000/">Home</a>
		</li>
		{% for section in section_list %}
			<li>
				<a class="menu_link" href="http://localhost:8000/{{section.name}}/">{{section.name}}</a>
			</li>
		{% endfor %}
	</ul>
</div>
